Package: com.nahtedetihw.seesaw
Name: SeeSaw
Version: 0.0.1
Architecture: iphoneos-arm
Description: An awesome MobileSubstrate tweak!
Maintainer: Ethan Whited
Author: Ethan Whited
Section: Tweaks
Depends: mobilesubstrate (>= 0.9.5000)
